:root {
    --background: #ffffff;
    --text-primary: #000000;
    --btn-background: #000000;
    --btn-text: #ffffff;
}

[data-theme='dark'] {
    --background: #000000;
    --text-primary: #ffffff;
    --btn-background: #ffffff;
    --btn-text: #000000;
}

.light-dark-mode {
    height: 100vh;
    background-color: var(--background)
}

.light-dark-mode h1 {
    color: var(--text-primary)
}

.light-dark-mode p {
    color: var(--text-primary)
}

.light-dark-mode button {
    color: var(--btn-text);
    background-color: var(--btn-background)
}