.tree-view {
    display: flex;
    height: 100vh;
}

.menu {
    width: 40vw;
    background-color: royalblue;
}

.page {
    width: 60vw;
}

li {
    align-content: start;
    list-style-type: none;
    color: white;
}

span {
    font-size: 2rem;
}

/* .plus::after {
    content: "+";
    color: white;
    font-size: 2rem;
    margin-left: 5px;
  }
.minus::after {
    content: "-";
    color: white;
    font-size: 2rem;
    margin-left: 5px;
  } */