.tree-view {
    display: flex;
    height: 100vh;
}

.tree-view-menu {
    width: 60vw;
    background-color: royalblue;
}

.tree-view-page {
    width: 70vw;
}

li {
    align-content: start;
    list-style-type: none;
    cursor: pointer;
    color: white;
}

.plus-minus-sign {
    font-size: 2rem;
}